<div class="widget masonry_fix">
  {{#each reviewsData}}
    <div class="review-item">
      <div class="avatar-container">
        {{! <img src="" alt="Avatar" class="avatar" /> }}
        <span class="review-rating">{{this.name}}</span>
      </div>
      <p class="review-content">{{this.content}}</p>
      <div class="review-footer">
        <span class="review-rating">{{this.rating}} ⭐</span>
        <span class="review-date">{{this.createdAt}}</span>
      </div>
    </div>
  {{/each}}
</div>

<script
  src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"
></script>
<link rel="stylesheet" href="/static/widgets/masonry_fix/style.css" />