<div class="widget carousel" data-speed="{{speed}}">
  {{#each reviews}}
    <div class="review-item">
      <p class="review-content">{{this.content}}</p>
      <p class="review-author">{{this.author}}</p>
      <!-- Add other fields as needed -->
    </div>
  {{/each}}
</div>